:root {
  --primary-color: #344c64;
  --secondary-color: #028391;
  --tertiary-color: #7691ad;
  --primary-font-color: #fff;
  --secondary-font-color: #dad9d9;
  --tertiary-font-color: #3b3b3bfb;
  --primary-btn-color: #ff4f5a;
}

@media screen and (max-width: 979px) {
  .hero-section {
    height: 70vh;
  }

  .portfolio-project-imgs {
    padding: 0 8rem;
  }
}

@media screen and (max-width: 767px) {
  header {
    position: static;
    background-color: var(--primary-color);
  }
  .hero-section {
    height: auto;
    background: none;
  }

  .hero-container {
    flex-direction: column;
    padding: 0 0;
  }

  .hero-text {
    background-color: var(--primary-color);
    height: 50%;
    width: 100%;
  }

  .hero-text-paragraph {
    max-width: none;
  }

  .hero-text > button {
    position: static;
  }

  .hero-image {
    background-color: var(--secondary-color);
    height: 50%;
    width: 100%;
  }

  .portfolio-project-imgs {
    padding: 0 2rem;
  }

  .work-experience-boxs-container {
    flex-wrap: wrap;
  }

  .work-experience-box {
    max-width: none;
  }

  .footer-social-links-section::before {
    width: 30%;
  }

  .footer-social-links-section::after {
    width: 30%;
  }
}

@media screen and (max-width: 576px) {
  .hero-text {
    font-size: 1.5rem;
    padding: 1.3rem 1rem;
  }

  .work-experience-box {
    padding: 1.5rem;
  }

  .footer-social-links-section::before {
    border-top: unset;
    position: static;
    width: 0%;
  }

  .footer-social-links-section::after {
    border-top: unset;
    position: static;
    width: 0%;
  }

  .footer-container {
    border-top: 1px solid var(--tertiary-color);
    padding-top: 1rem;
  }
}
